.footer{
    background-color: var(--color-background);
}

.footer__container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.footer__container h2{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: .5em;
}

@media (max-width: 768px){
    .footer__container h2{
        font-size: 1em;
    }
}