:root {
    --color-background: #d45409;
    --color-background-two: #e7c321;
    --corlor-links: #ffffff;
    --color-text-red: #dd0000;
    --color-links-hover: #ffffff;
    --color-links-text-hover: #d45409;
    --color-text-gold: #e7c321;
    --color-text-white: #ffffff;
    --color-text-black: #000000;
    --color-text-orange: #d45409;
    --color-background-three: #000000;
    --color-background-four: #ffffff;
    --color-background-five: #dd0000;
}

* {
    font-family: 'Press Start 2P';
}

body {
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}